<form action="/tasks/add" method="POST">

  <div>
    <label for="title">Escribe un Titulo:</label>
    <input type="text" name="title" placeholder="Titulo" id="title" />
  </div>

  <div>
    <label for="description">Descripcion:</label>
    <textarea
      name="description"
      id="description"
      placeholder="Descripcion..."
    ></textarea>
  </div>

  <button>Agregar</button>

</form>