<form action="/tasks/{{task._id}}/edit" method="POST">
    <input type="text" name="title" placeholder="Titulo" value="{{task.title}}">

    <textarea name="description"  rows="3" placeholder="Agrega Descripcion"> {{task.description}} </textarea>

    <button>Actualizar</button>
</form>     