<nav class="navbar navbar-dark bg-black mb-4">
    <div class="container">
        <a href="/" class="navbar-brand">Crud Node JS y MongoDB</a>
            <a href="/logout" class="btn btn-danger">Cerrar Sesión</a>
        </div>
    </div>
</nav>
